p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    color: aliceblue;
    padding: 25px;
    padding-left: 25px;
}

.caja1{
    border-style:  solid;
    border-color: blueviolet;
    border-radius: 5%;
    background-color: rgba(25,25,25,0.15);
    margin-bottom: 25px;
}

.colorazul{
    color: rgba(0,0,255,0.1);
}

.caja2{
    border-style: dashed;
    border-color: plum;
    border-radius: 5%;
    background-image: url('../imagenes/');
    background-position: center;
    opacity: 0.2;
    height: 600px;


}